
.navbar{
	background-color: #173047;
	height: 105px;
	width: 100%;
}

.navbar-nav a{
	color: white;
}


.navbar-nav a:hover{
	background-color:black;
}

.btn{
	padding-top: 10px;
	height: 40px;
	width: 200;
}

.btn a{
	font-size: 20px;
}


.bgimg{
	background-image: url("../img/1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 660px;
}


.hearderset{
	padding-top: 250px;
	box-sizing: border-box;
}


.hearderset h1{
	font-size: 62px;
	font-weight: bold;
}

.hearderset h3{
	font-size: 42px;
	font-weight: bold;
}



/*.............services.........*/

.services{
	padding: 70px 0px 60px;
	height: 600px;
}

.services p{
	font-size: 22px;
}


.services h1{
	font-size: 42px !important;
	font-weight: bold !important;
}


.rowsetting{
	margin: 70px 0px !important;
}


.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.fa-bus{
	margin-top: 20px;
}
.fa-home{
	margin-top: 20px;
}
.fa-cutlery{
	margin-top: 20px;
}

.rowsetting p{
	padding: 20px;
	color: #6c757d !important;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}

/*/////////////////Advanture////////////////*/

.Advanture{
	height: 1250px;
	width: 100%;
	padding: 70px 0px 50px;
}
.Advanture h2{
	font-size: 42px !important;
	font-weight: bold !important;
}

.Advanture p{
	font-size: 22px;
}

.card{
	margin-top: 40px;
}

.card-text{
	font-size: 10px;
}

/*//////////ourteam///////////*/

.ourteam{
	background-image: url(../img/t4.jpg);
	background-size: 100% 100%;
	height: 750px;
	width: 100%;
	padding: 80px 0px 60px;
}

.ourteam h1{
	font-size: 50px;
	font-weight: bold;
	color: black;
}

.ourteam p{
	font-size: 30px;
	font-weight: bold;
	color: black;
}

.teamsetting{
	margin-top: 70px;
}

.row{
	padding-top: 20px;
}

.row h4{
	font-size: 32px !important;
	font-weight: bold !important;
}

.row p{
	font-size: 22px;
}


/*//////////FOOTER///////////*/

.site-footer{
	background-color: #2c5e7a;
	height: 350px;
	width: 100%;
}

.footer1{
	height: 30px;
}


/*///////////responsive///////////*/

@media(min-width: 920px){

}

@media(min-width: 768px)and(max-width: 991px){

	.hearderset h1{
	font-size: 42px;
}

.hearderset h3{
	font-size: 52px;
}


.services{
	height: 1500px;
}

.Advanture{
	height: 3500px;
}

.ourteam{
	height: 1700px;
	
}


}

@media(min-width: 548px) and(max-width: 767px){

}

@media(min-width: 480px) and(max-width: 574px){

}

@media(max-width: 548px){


.navbar{
	height: 116px;
	width: 100%;
}

.navbar-nav a:hover{

}

.navbar-nav a{
	color: white;
	font-weight: bold;
	background-color: #555;
}


.hearderset h1{
	font-size: 38px;
}

.hearderset h3{
	font-size: 25px;
}


.services{
	height: 1200px;
}

.Advanture{
	height: 3100px;

}

.ourteam{
	height: 1200px;
	
}

.ourteam h1{
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.ourteam p{
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.site-footer{
	height: 580px;
}


.footer1{
	height: 20px;

}
   
}